body {
    margin: 0;
    font-family: "raleway";
}
header {
    display:flex;
    justify-content: space-between;
    box-shadow: 1px -4px 10px 0; 
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 400px;
    padding-bottom: 10px;
}
.navlink{
 text-decoration: none;
 font-weight: 600;
 color:#008000;
}