body {
  margin: 0;
  font-family: "raleway";
}

header {
  display: flex;
  justify-content: space-around;
  box-shadow: 1px -4px 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

header img {
  height: 86px;
  margin: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 400px;
  padding-bottom: 10px;
}

.navlink {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: #008000;
  padding: 5px 0;
}

.navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #008000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navlink:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.highlight-recipe{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 140px 20px 60px 20px;
    padding: 40px 20px;
    border-radius: 12px;
}
.highlight-recipe img {
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.highlight-text {
  max-width: 500px;
}

.highlight-text h2 {
  margin-top: 0;
  font-size: 28px;
  color: #575757;
}

.highlight-text p {
  font-size: 16px;
  margin: 16px 0;
  color: #555;
}

.highlight-text button {
  padding: 10px 20px;
  background-color: #008000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.highlight-text button:hover {
  background-color: #006600;
}